%h2= I18n.t('user.title')
.user
  = form_for @user, method: :post, url: users_path do |f|
    = render 'form', f: f, user: @user
    .field
      = f.label :password, I18n.t('user.fields.password')
      = f.text_field :password

    .field
      = f.label :password_confirmation, I18n.t('user.fields.confirmation')
      = f.text_field :password_confirmation
    .actions
      = f.submit I18n.t('user.fields.join')
